h1 {
}
p,
h2 {
  max-width: 768px;
  margin: auto;
}

h2 {
  font-size: 2rem;
}

h2,
p {
  margin-bottom: 1.2rem;
  padding: 0rem 2rem;
}

p {
  /* margin-bottom: 4.5rem; */
}

p + h2 {
  margin-top: 6.5rem;
}
